.card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  overflow: hidden;
  width: 100%;
  .info {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .description {
      display: flex;
      flex-direction: column;
      gap: 0px;
      .title {
        font-size: 16px;
        font-weight: 700;
        color: #111111;
      }
      .desc {
        font-size: 16px;
        font-weight: 400;
        color: #000;
      }
    }
    .priceArea {
      display: flex;
      gap: 10px;
      align-items: center;
      height: fit-content;
      .rulePlace {
        display: flex;
        align-items: center;
        gap: 10px;
        .icon {
          cursor: pointer;
          font-size: 30px;
        }
      }
      p {
        color: #000;
        font-size: 16px;
        font-weight: 700;
        margin: 0;
      }
      button {
        color: #000;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  .image {
    height: 280px;
    width: 100%;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
