footer {
  border-top: 1px solid #d9dbe9;
  background: #000;
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 56px 0;
    .logoPart {
      display: flex;
      flex-direction: column;
      gap: 45px;

      .info {
        display: flex;
        align-items: center;
        gap: 10px;
        .icon {
          color: #f8f9fa;
          font-size: 40px;
        }

        .first {
          font-size: 20px;
          font-weight: 400;
          color: #f8f9fa;
        }
        .second {
          font-size: 16px;
          font-weight: 400;
          color: #f8f9fa;
        }
      }
    }
    nav {
      display: flex;
      flex-direction: column;
      gap: 15px;
      h3 {
        font-size: 20px;
        font-weight: 700;
        color: #f8f9fa;
      }
      span {
        color: #f8f9fa;
        font-size: 16px;
        font-weight: 400;
      }
      .navigation {
        display: flex;
        flex-direction: column;
        gap: 10px;
        a {
          width: fit-content;

          span {
            color: #f8f9fa;
          }

          &.active {
            span {
              color: #cccccc;
              transform: scale(1.04);
            }
          }
        }
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      .number {
        display: flex;
        flex-direction: column;
      }

      .num {
        font-size: 20px;
        font-weight: 700;
        color: #f8f9fa;
      }
      .text {
        color: #f8f9fa;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
